
<html xmls:th="http://www.thymeleaf.org">
	<head>
		<title>Movie Watchlist Admin</title>
	</head>
	<body>
	
	Movie Watchlist
	
	
	
	<form>
<input type="button" value="Rated Movies" onclick="window.location.href='http://localhost:8082/admin/ratedmovies'" />
</form>
	
		<form>
<input type="button" value="Rate Movie" onclick="window.location.href='http://localhost:8082/admin/ratemovie'" />
</form>
	<form>
<input type="button" value="All Movies" onclick="window.location.href='http://localhost:8082/admin/watchlist'" />
	</form>
	<form>
<input type="button" value="Add New Movie" onclick="window.location.href='http://localhost:8082/admin/addmovie'" />
</form>
	<form>
<input type="button" value="All Users" onclick="window.location.href='http://localhost:8082/admin/userlist'" />
	</form>
	<form>
<input type="button" value="All Roles" onclick="window.location.href='http://localhost:8082/admin/rolelist'" />
	</form>
	<form>
<input type="button" value="Update User's Role" onclick="window.location.href='http://localhost:8082/admin/roleuserupdate'" />
	</form>

	<form>
<input type="button" value="Add New Role" onclick="window.location.href='http://localhost:8082/admin/role'" />
	</form>

	<form>
<input type="button" value="Log out" onclick="window.location.href='http://localhost:8082/logout'" />
</form>
	</body>
	

	
</html>