<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>New Movie</title>
</head>
<body>
<form method="post" action="http://localhost:8081/movie"></form>
<input type="text" id="title" name="title" th:value="*{title}"  /> title
<input type="number" id="year" name="year" th:value="*{year}"  /> year
<input type="text" id="genre" name="genre" th:value="*{genre}"  /> genre

<input type="number" id="rating" name="rating" th:value="*{rating}"  /> rating
<input type="button" value="Submit">
</body>
</html>