
<html xmls:th="http://www.thymeleaf.org">
	<head>
		<title>Movie Watchlist</title>
	</head>
	<body>
	
	Movie Watchlist
	
	<div>
	<form>
<input type="button" value="Admin Log In" onclick="window.location.href='http://localhost:8082/admin'" />
</form>
	</div>
	<form>
<input type="button" value="User Log In" onclick="window.location.href='http://localhost:8082/user'" />
</form>
	<form>
<input type="button" value="Registration" onclick="window.location.href='http://localhost:8082/registration'" />
</form>
	</body>
	

	
</html>