
<html xmls:th="http://www.thymeleaf.org">
	<head>
		<title>Movie Watchlist</title>
	</head>
	<body>
	
	Movie Watchlist
	
	<div>
	<form>
<input type="button" value="My Rated Movies" onclick="window.location.href='http://localhost:8082/user/myratedmovies'" />
</form>
	</div>
	<form>
<input type="button" value="Rate Movie" onclick="window.location.href='http://localhost:8082/user/ratemovie'" />
</form>
<form>
<input type="button" value="All Movies" onclick="window.location.href='http://localhost:8082/logged/watchlist'" />
</form>

<form>
<input type="button" value="Movies Ratings" onclick="window.location.href='http://localhost:8082/logged/ratedmovies'" />
</form>

	<form>
<input type="button" value="Log out" onclick="window.location.href='http://localhost:8082/logout'" />
</form>
	</body>
	

	
</html>